# Environment variables management system
python-dotenv

# Requests library
requests

# Scientific computing library
numpy
pandas
geopandas
shapely
matplotlib
scipy
scikit-learn

# Geo data library
gtfs-kit
gtfs-realtime-bindings

# Data scraping library
beautifulsoup4


# Database utilities
SQLAlchemy
psycopg2-binary
azure-storage-blob


# Python utilities
schedule
pysftp


jsonschema
pyarrow