[collectors]

[collectors.gtfs]

PATH = "de_lijn.collectors.gtfs.DeLijnGTFSStaticCollector"
DATA_FORMAT = "gtfs"
DATA_TYPE = "binary"
SCHEDULE = "05:00"

[collectors.gtfs_realtime]

PATH = "de_lijn.collectors.gtfs_realtime.DeLijnGTFSRealtimeCollector"
DATA_FORMAT = "gtfs_realtime"
DATA_TYPE = "binary"
SCHEDULE = "20s"
