[collectors]

[collectors.gtfs]

PATH = "tec.collectors.gtfs.TECGTFSStaticCollector"
DATA_FORMAT = "gtfs"
DATA_TYPE = "binary"
SCHEDULE = "03:45"

[collectors.gtfs_realtime]

PATH = "tec.collectors.gtfs_realtime.TECGTFSRealtimeCollector"
DATA_FORMAT = "gtfs_realtime"
DATA_TYPE = "binary"
SCHEDULE = "20s"

